.skills {
    overflow: hidden;
    background: linear-gradient(rgba(22, 20, 58, 0.65), rgba(14, 9, 105, 0.2)),
        url(/src/assets/images/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
}