.headingPrimary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;

  background-image: linear-gradient(
    to right,
    var(--color-secondary-light),
    var(--color-secondary-dark)
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  
  &ToRight {
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
    animation-timing-function: ease-out;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(var(--color-black), 0.2);
  }
}

.headingSecondary {
  color: var(--color-white);
  text-transform: uppercase;

  backface-visibility: hidden;
  //     margin: 6rem;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &ToLeft {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0;

    animation-name: moveInRight;
    animation-duration: 1s;
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
    animation-timing-function: ease-out;
  }

  &Sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

  @include respond(tab-port) {
    font-size: 1.2rem;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  line-height: 1.2;
  padding: 0;
}

.textCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
